@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
* {
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  font-family: "Poppins", sans-serif;
  font-size: 400;
}
.container {
  background-image: url();
}
h3:hover {
  color: rgb(216, 68, 19);
  cursor: pointer;
}
input {
  color: hsl(224, 82%, 64%);
  font-weight: bold;
  padding: 0;
  display: flex;
  text-align: center;
  font-size: 2rem;
  border: none;
  margin: 20px;
}
input:hover {
  color: hsl(224, 100%, 44%);
}

.calculate-date {
  margin: 20px;
}
.date {
  display: flex;
  flex-direction: column;
  font-size: 2rem;
  align-items: center;
  justify-content: center;
  font-family: monospace;
  color: rgb(154, 35, 154);
}
.date:hover {
  color: rgb(181, 119, 181);
}
img {
  width: 200pxpx;
  height: 50px;
}
